<!DOCTYPE HTML>
<!--
	Aerial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>ButtonGame v.0.3 - #js #mongodb #nodejs #socket.io #ejs #express - template Aerial by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    icoLogo.png
    <link crossorigin="anonymous" rel="icon" href="https://latitanti.altervista.org/BG/icoLogo.png" sizes="32x32">
    <%- include('./assets/main-css'); %>
    <script src="https://kit.fontawesome.com/e4ff14a47e.js" crossorigin="anonymous"></script>

</head>

<body class="is-preload">
    <%- include('./game/index'); %>
    <%- include('./scriptClient'); %>
    <%- include('../../utility/scriptClientModal'); %>
    <script>

        let playStart = (liv, num) => {
            socket.emit('game start', liv, num);// liv=1,num=20
        }


        socket.on('gameSet', (data, typeGame) => {
            console.log(data);

            if (typeGame === "campain") {

                openPage('playGround');
                let page = document.getElementById('buttonAreaH');

                for (let i = 0; i < data.length; i++) {
                    //creazione button
                    var item = document.createElement('button');
                    //aggiungi classe al botton
                    item.className = 'buttonGame effettoCiakka';
                    //creazione elemento spam ove contenitore numero
                    var itemDue = document.createElement('spam');
                    //prendi il numero da data
                    itemDue.innerText = data[i]
                    item.appendChild(itemDue);
                    page.appendChild(item);
                }

            } else {

                // if(typeGame==="1vs1"
                //messaggio x testare anzi x avvisare i giocatori x il 1vs1
                let page = document.getElementById('waitingplayer')
                //se la pagine contiene la classe hide la leva...altrimenti nn fa nulla...loool;
                if (page.classList.contains("hide")) {
                    page.classList.toggle("hide");
                } else { };
                document.getElementById('waitingplayerText').innerText = data;
            }

            ///QUI CREO LA LOGICA DEL GIOCO SINGOLO CAMPAIGN UNA VOLTA RICEVUTO ARRAY CON I NUMERI

        })

        let playStart1vs1 = (liv) => {
            console.log("invio richiesta al server [ 1 versus 1 ] ")
            socket.emit('gameOnline 1vs1', 'join');// liv=1,num=20
            document.getElementById('waitingplayerText').innerText = ' Invio richiesta al server...';
        }

    </script>
    <%- include('../../utility/browserCheck'); %>
</body>

</html>